*{
    margin:0;
}
body{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}

h1{
    font-size: 4rem;
    color:rgb(20, 216, 151);
    
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin:5vh;
}

.img1{
    height:25vh;
    width: 25vw;
    background-image: url("./images/rock.png");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 2rem;

}
.img2{
    height:25vh;
    width: 25vw;
    background-image: url("./images/paper.png");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 2rem;

}
.img3{
    height:25vh;
    width: 25vw;
    background-image: url("./images/scissors.png");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 2rem;

}


